<h1><%= @post.title %></h1>

<div class="row">
<<<<<<< HEAD
  <div class="col-md-8">
=======
<div class="col-md-2">
	<%= image_tag(@post.postimage) %>
</div>
  <div class="col-md-6">
>>>>>>> add_pagination
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>